.list {
  list-style: none;
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.item {
  background-color: antiquewhite;
  padding: 15px;
  text-transform: uppercase;
  border: 1px solid #cc5544;
  border-radius: 5px;
  margin-bottom: 12px;
  color: #2255cc;
  font-weight: 700;
  margin-left: 0px;
}

.form {
  display: flex;
  margin-top: 50px;
}

.form label {
  padding: 15px;
  margin-left: 20px;
}

.form input {
  border-radius: 5px;
}

.form button {
  background-color: #2255cc;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  border-radius: 5px;
  transition: all 1s;
}

.form button:hover {
  background-color: white;
  color: #2255cc;
}
