.userWrapper {
  display: flex;
  background-color: darkgray;
  justify-content: space-between;
  padding: 15px 0;
  margin: 15px 0;
}

.name {
  margin-left: 25px;
}

.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 25px;
}
